body {
	font-family: auto;
}

.logo_image {
	padding: 8;
	padding-top: 8px;
	margin-top: 1px;
}

.linklist ul {
  list-style-type: none;
  padding: 4px;
}

.linklist ul li {
  padding: 8px;
  border-radius: 8px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 100%;
}

nav ul li {
  float: left;
  display: block;
  padding: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 24px;
  text-decoration: none;
  min-height: 100%;
  vertical-align: middle;
}

nav ul li a {
  display: block;
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  font-size: 54px;
  position: relative;
  min-height: 100%;
  vertical-align: middle;
}

/**
nav ul li a:hover {
	
}
**/

aside {
  float: right;
  text-align: right;
}

aside div {
  border: none;
  float: right;
  text-align: right;
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  padding: 15px;
  padding-bottom: 500px;
  min-height: 100%;
  height: 100%;
}

aside div a {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

/**
aside div a:hover {
	
}
**/

/**
.active {
	
}
**/

.keyword {
  padding: 2px;
  border-radius: 2px;
}

div {
  border: solid 1px #fff;
  padding: 5px;
}

div.code {
  border: solid 1px #fff;
  padding: 5px;
}

div.codep {
  border: none;
  border-left: solid 5px #fff;
}

.tag {
  color: #56c;
}

.atr {
  color: #0f0;
}

.val {
  color: #f40;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/**
.dropdown-content a:hover {background-color: #303031;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #212124;}

**/

footer {
  position: relative;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  bottom: -500px;
}

section {
  margin-left: 50px;
  margin-right: 160px;
}

th, td {
  border-right:1px solid white;
  border-bottom:1px solid white;
}

table {
  border:1px solid white;
}

/**
a {
 color: skyblue;
}
**/

#progressBarUnder {
  width: auto;
  margin-top: 8px;
}

#progressBar {
  width: 0%;
  height: 48px;
  font-size: 42px;
  text-align: center;
  line-height: 48x;
  padding: 0px;
}

iframe {
	width: 100%;
	min-height: 480px;
	border: none;
}

.quiz_title {
	padding: 24px;
}

#score {
	font-size: 32px;
}

#next {
	display: none;
	border: #242530;
	border-radius: 8px;
	text-decoration: none; 
	padding: 8px
}
