body {
	background-color: #001;
	color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #123;
}

nav ul li {
  float: left;
  display: block;
  color: white;
  padding: 16px;
  font-size: 30px;
  text-decoration: none;
}

nav ul li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 30px;
  position: relative;
}

nav ul li a:hover {
  background-color: #112;
}

aside {
  float: right;
  text-align: right;
}

aside div {
  border: none;
  float: right;
  text-align: right;
		border-left: solid 1px #112;
  padding: 15px;
		padding-bottom: 500px;
		background-color: #001;
		min-height: 100%;
		height: 100%;
}

aside div a {
  border-radius: 5px;
		background-color: #344;
  color: white;
  padding: 10px;
}

aside div a:hover {
		background-color: #233;
  color: white;
}

.active {
		color: #889;
}

.keyword {
  background-color: #333;
  color: brown;
  padding: 2px;
}



div {
  border: solid 1px grey;
  padding: 5px;
  background-color: #112;
}

div.code {
  border: solid 1px grey;
  padding: 5px;
  background-color: #123;
  color: #fdd;
}

div.codep {
  border: none;
  border-left: solid 5px #001;
  background-color: #223;
  color: #fdd;
}

.tag {
		color: #56c;
}

.atr {
  color: #0f0;
}

.val {
  color: #f40;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #233;
  min-width: 100%;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #122;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #112;}

.name {color: #ffff55;}

footer {
  position: relative;
  text-align: center;
  background-color: darkblue;
  font-size: 10px;
  padding: 10px;
  bottom: -500px;
  color: white;
}

section {
  margin-left: 50px;
  margin-right: 120px;
}

th, td {
  border-right:1px solid white;
  border-bottom:1px solid white;
}

table {
  border:1px solid white;
}

a {
 color: skyblue;
}
