body {
	background-color: #e4e9ef;
	color: black;
}

.linklist ul li {
  background-color: #1a1f25;
}

nav div .navbar {
  background-color: #aab;
  border: none;
}

nav div .navlink {
  color: #334;
}

nav div .navlink:hover {
  background-color: #889;
  color: #112;
}

.dropdown-content {
  background-color: #eee;
}

.dropdown-content a {
  color: black;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropbtn {background-color: #889;}

aside div {
  border-left: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
  background-color: #c0c0cf;
}

aside div a {
  background-color: #d0d0da;
  color: black;
}

aside div a:hover {
  background-color: #aaa;
  color: white;
}

.active {
		color: #556;
}

.keyword {
  background-color: #ddd;
  color: brown;
}

div {
  border: solid 1px grey;
  background-color: #d1d3df;
}

div.code {
  border: solid 1px grey;
  background-color: #def;
  color: #123;
}

div.codep {
  border-left: solid 5px #aab;
  background-color: #d5d6ef;
  color: #123;
}

.tag {
  color: #12a;
}

.atr {
  color: #182;
}

.val {
  color: #a21;
}

.name {color: #ddeeff;}

footer {
  background-color: #d2d5e5;
  color: black;
}

th, td {
  border-right:1px solid white;
  border-bottom:1px solid white;
}

table {
  border:1px solid white;
}

section a {
 color: skyblue;
}

#progressBarUnder {
  background-color: #ddd;
}

#progressBar {
  background-color: #bfb;
  color: black;
}

.quiz_title {
	background-color: #aca;
}

#score {
	color: #238;
}

#next {
	color: white;
	background-color: #565869;
}