body {
	background-color: #14192f;
	color: white;
}

.linklist ul li {
  background-color: #0a0f1f;
}

nav .navbar {
  background-color: #222428;
  border: none;
  text-shadow: 3px 3px 1px #000;
}

nav .navlink {
  color: white;
  background-color: #202224;
}

nav .navlink:hover {
  background-color: #15161f;
  color: #eef;
}

.dropdown-content {
  background-color: #353539;
}

.dropdown-content a {
  color: black;
}

.dropdown-content a:hover {background-color: #303031;}

.dropdown:hover .dropbtn {background-color: #212124;}

aside div {
  border-left: solid 2px #223;
  border-bottom: solid 2px #223;
  background-color: #181b2f;
}

aside div a {
  background-color: #344;
  color: white;
}

aside div a:hover {
  background-color: #233;
  color: white;
}

.active {
	color: #889;
}

.keyword {
  background-color: #333;
}

section div {
  border: solid 1px #333;
  background-color: #21232f;
}

div.code {
  border: solid 1px grey;
  background-color: #123;
  color: #def;
}

div.codep {
  border-left: solid 5px #001;
  background-color: #25263f;
  color: #def;
}

.tag {
  color: #56c;
}

.atr {
  color: #0f0;
}

.val {
  color: #f40;
}

.dropbtn {
  color: white;
}

.name {color: #ddeeff;}

footer {
  background-color: #121525;
  color: white;
}

th, td {
  border-right:1px solid white;
  border-bottom:1px solid white;
}

table {
  border:1px solid white;
}

section a {
 color: skyblue;
}

#progressBarUnder {
  background-color: #111;
}

#progressBar {
  background-color: #242;
  color: white;
}

.quiz_title {
	background-color: #373;
}

#score {
	color: #aeb;
}

#next {
	color: white;
	background-color: #565869;
}
